
#Wrapper{
    background-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: grid;
    padding: 25px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main main"
        "footer footer footer"
    ;
}

#Wrapper > header {
    overflow: hidden;
    text-align: center;
    grid-area: header;
}

#Wrapper > nav {
    text-align: center;
    grid-area: nav;
    background-color: cornflowerblue;
}

#Wrapper > main {
    grid-area: main;
    height: 100%;
    margin: 0;
}

#Wrapper > footer {
    grid-area: footer;
    text-align: center;
    color: white;
    background-color: cornflowerblue;
    padding: 6px;
}

#searchStopsForm {
    border: solid 2px cornflowerblue;
    padding: 15px;
}

#searchAlbumsByGenre {
    border: solid 2px cornflowerblue;
    padding: 15px;
    height: 100%;
}

input[type=text] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#tripsDataContainer {
    margin-top: 20px;
}

#tracksDataContainer {
    margin-top: 20px;
}

.tripItem {
    cursor: pointer;
    transition: 0.3s;
}

.tripItem:hover {
    background-color: #a4b9de;
}

.stylishDiv {
    margin-top: 20px;
    padding: 8px 16px;
    text-align: center;
    border: solid 2px cornflowerblue;
}

.laodingImageStyling {
    width: 8%;
}

.hidden {
    display: none;
}

.stylishPlaylistHeader {
    color: #ffffff;
    background-color: #a4b9de;
    padding: 10px;
    border-radius: 8px;
    text-shadow: 1px 1px 2px #4c85ca;
}